{% load  static %}
<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p>Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie.</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-github text-white"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter text-white"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-dribbble text-white"></i></a></li>
                        </ul>
                    </div>						
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links list-unstyled">
                        <li><a href="#" class="text-white">Home</a></li>
                        <li><a href="#" class="text-white">Blog</a></li>
                        <li><a href="#" class="text-white">About</a></li>
                        <li><a href="#" class="text-white">Contact</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>
                    <ul class="footer-links list-unstyled">
                        <li><a href="mailto:#" class="text-white">huseyinnadiguzel@gmail.com</a></li>
                        <li><a href="#" class="text-white">www.huseyinadiguzel.com</a></li>
                        <li>Talas/Kayseri</li>
                        <li>+90 507 854 1152</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyrights bg-secondary text-white text-center py-3">
    <div class="container">
        <p class="footer-company-name">All Rights Reserved. &copy; 2025 <a href="#" class="text-white">CyberNox</a> Design By : <a href="#" class="text-white">Hüseyin Adıgüzel</a></p>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/timeline.min.js' %}"></script>
<script>
    timeline(document.querySelectorAll('.timeline'), {
        forceVerticalMode: 700,
        mode: 'horizontal',
        verticalStartPosition: 'left',
        visibleItems: 4
    });
</script>
</body>
</html>
 