{% load  static %}
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/logo2.png' %}" alt="CyberNox Logo" style="height: 60px; margin-right: 15px; filter: brightness(1.2); border-radius: 10px;">
                <span style="color: white;">Cyber</span><span style="color: #ff6b00;">Nox</span>
            </a>
            
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if '/' == request.path %} active {% endif %}"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                   
                    <li class="nav-item {% if 'blogs' in request.path %} active {% endif %}"><a class="nav-link" href="{% url 'blogs' %}">Blogs</a></li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Services </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            <a class="dropdown-item" href="{% url 'ocr' %}">DarkVision-OCR</a>
                            <a class="dropdown-item" href="{% url 'qr_check' %}">Qr-Link-Shield</a>
                            <a class="dropdown-item" href="{% url 'log_parser' %}">Sentinel-Log</a>
                            <a class="dropdown-item" href="{% url 'online_nmap' %}">Online-Nmap</a>
                            <a class="dropdown-item" href="{% url 'usom' %}">Usom Veritabanı</a>
                             <a class="dropdown-item" href="{% url 'ioc_checker' %}">IoC Checker</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="pricing.html">News</a></li>
                    <li class="nav-item {% if 'about' in request.path %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a class="hover-btn-new log orange mr-2" href="{% url 'dashboard' %}"><span>{{user.username}}</span></a></li>
                    <li><a class="hover-btn-new log orange" href="javascript:{document.getElementById('logout').submit()}"><span><i class="fa fa-sign-out"></i></span></a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </li>
                    
                    {% else %}
                    <li><a class="hover-btn-new log orange mr-2" href="{% url 'login' %}"><span><i class="fa fa-sign-in"></i></span></a></li>
                    <li><a class="hover-btn-new log orange" href="{% url 'register' %}"><span><i class="fa fa-user-plus"></i></span></a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

