{% extends 'partials/_base.html'%}
{% load  static %}
{% block content %}
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>{{blog.name}}<span class="m_1"></span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
						<div class="image-blog">
							<img src="{{blog.image.url}}" alt="" class="img-fluid">
						</div>
						<div class="post-content">
							<div class="post-date">
								{% if user.is_authenticated %}

								{% if blog in enrolled_blogs %}
								<button type="submit" class="btn btn-outline-danger rounded-0" data-toggle="modal"
									data-target="#releaseModal">
									<span>RELEASE</span>
								</button>
								{% else %}
								<button type="submit" class="btn btn-outline-success rounded-0" data-toggle="modal"
									data-target="#enrollModal">
									<span>ENROLL</span>
								</button>
								{% endif %}
							{% endif %}
							</div>
							<div class="meta-info-blog">
								<span><i class="fa fa-calendar"></i> {{blog.date|date:"d M Y"}}</span>
						
								<span><i class="fa fa-comments"></i> <a href="#">Customers</a></span>
							</div>
							<div class="blog-title">
								<h2><a href="#" title="">{{blog.name}}</a></h2>
							</div>
							<div class="blog-desc">
								
								<blockquote class="default">
                                        {{blog.description}}
                                </blockquote>
								
							</div>							
						</div>
					</div>
					
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><a href="#">{{blog.customer.first.username}}</a></h3>
							<h5>Yazar</h5>
							<p class="author_det">
								{{blog.description|truncatewords:30}}
							</p>
						</div>
						<div class="author-desc">
							<ul class="author-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
						</div>
					</div>
					
					<div class="blog-comments">
						<h4 class="mb-4" style="color: #ff6b00;">
							<i class="fa fa-comments mr-2"></i>
							Yorumlar
						</h4>
						{% if messages %}
						<div class="messages mb-4">
							{% for message in messages %}
							<div class="alert alert-{{ message.tags }} alert-dismissible fade show">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert">
									<span>&times;</span>
								</button>
							</div>
							{% endfor %}
						</div>
						{% endif %}
						<div id="comment-blog">
							<ul class="comment-list" id="comments-list">
								{% for comment in comments %}
								<li class="comment mb-4">
									<div class="comment-container bg-white p-4 rounded shadow-sm" style="border-left: 4px solid #ff6b00;">
										<div class="d-flex justify-content-between align-items-center mb-3">
											<div class="d-flex align-items-center">
												<div class="user-avatar mr-3">
													<i class="fa fa-user-circle fa-2x" style="color: #ff6b00;"></i>
												</div>
												<div>
													<h5 class="comment-author mb-0" style="color: #ff6b00;">
														{{comment.user.username}}
													</h5>
													<small class="text-muted">
														<i class="fa fa-clock-o mr-1"></i>
														{{comment.created_at|date:"d M Y H:i"}}
													</small>
												</div>
											</div>
										</div>
										<div class="comment-body">
											<p class="mb-0 text-dark">{{comment.content}}</p>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% if user.is_authenticated %}
					<div class="comments-form mt-5">
						<h4 class="mb-4" style="color: #ff6b00;">
							<i class="fa fa-edit mr-2"></i>
							Yorum Yap
						</h4>
						<form method="POST" action="{% url 'add_comment' blog.id %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="content" rows="4" 
											placeholder="Düşüncelerinizi paylaşın..." 
											style="resize: none; border-radius: 10px; border: 1px solid #ff6b00;"
											required></textarea>
									</div>
								</div>
								<div class="col-md-12 post-btn">
									<button type="submit" class="hover-btn-new orange" 
										style="border-radius: 25px; padding: 10px 30px; background-color: #ff6b00; border: none;">
										<i class="fa fa-paper-plane mr-2"></i>
										<span>Yorum Gönder</span>
									</button>
								</div>
							</div>
						</form>
					</div>
					{% else %}
					<div class="alert alert-warning mt-4" style="border-radius: 10px; background-color: #fff3e0; border-color: #ff6b00; color: #ff6b00;">
						<i class="fa fa-info-circle mr-2"></i>
						Yorum yapabilmek için lütfen <a href="{% url 'login' %}" class="font-weight-bold" style="color: #ff6b00;">giriş yapın</a>.
					</div>
					{% endif %}
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							{% for category in categories%}
							<li><a href="{% url 'blogs_by_category' category.slug %}">{{category.name}}</a></li>
							{% endfor %}

						</ul>
					</div>
					<div class="widget-tags">
						<h3 class="widget-title">Search Tags</h3>
						<ul class="tags">
							{% for tag in tags%}
							<li><a href="{% url 'blogs_by_tag' tag.slug %}">{% if tag.slug in request.path%}<b>{{tag.name}}</b>{% else %}{{tag.name}}{%endif%}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



	
<!-- ENROLL Modal -->
<div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title" id="enrollModalLabel">Enroll The Blog</h2>
			<button type="button" class="close" data-dismiss="modal">
				<span>&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>You will enroll the blog below:</p>
			<h1>{{blog.name}}</h1>
		</div>
		<div class="modal-footer">
			<form action="{% url 'enroll_the_blog' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name="user_id" value="{{user.id}}">
				<input type="hidden" name="blog_id" value="{{blog.id}}">
				<input type="submit" value="I AM SURE" class="btn btn-success">
			</form>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">
				CANCEL
			</button>
		</div>
	</div>
</div>
</div>

<!-- RELEASEModal -->
<div class="modal fade" id="releaseModal" tabindex="-1" role="dialog" aria-labelledby="releaseModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="releaseModalLabel">Enroll The Blog</h2>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>You will release the blog below:</p>
				<h1>{{blog.name}}</h1>
			</div>
			<div class="modal-footer">
				<form action="{% url 'release_the_blog' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name="user_id" value="{{user.id}}">
					<input type="hidden" name="blog_id" value="{{blog.id}}">
					<input type="submit" value="I AM SURE" class="btn btn-danger">
				</form>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					CANCEL
				</button>
			</div>
		</div>
	</div>
</div>


  
    {% endblock%}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Sayfa yüklendiğinde yorumları yenile
    const commentForm = document.querySelector('form[action*="add-comment"]');
    if (commentForm) {
        commentForm.addEventListener('submit', function() {
            // Form gönderildikten sonra sayfayı yenile
            setTimeout(function() {
                window.location.reload();
            }, 100);
        });
    }
});
</script>
{% endblock %}